section#body section#heading{
	background-image: url("../images/contact/pic_contact_header.jpg");
	background-color: rgb(112, 112, 112);
	height: 550px;
	background-repeat: no-repeat;
	background-size: cover;
}
#ctaText{
	font-size: 4em;
	color: white;
	text-align: center;
	vertical-align: middle;
	line-height: 550px;
}
#contentContainer{
	padding: 80px 150px;
	background-color: white;
}
#contentContainer1{
	display: none;
}
#contentContainer table tr td iframe{
	width: 600px;
	height: 450px;
}
#contactRightSide{
	vertical-align: top;
}
#contactRightSide table{
	border-spacing: 20px 20px;
}
#contactRightSide table tr td{
	line-height: 2em;
}
@media (max-width: 1250px){
	section#body section#heading{
		height: 500px;
	}
	#ctaText{
		font-size: 3.2em;
		text-align: center;
		vertical-align: middle;
		line-height: 500px;
	}
	#contentContainer{
		padding: 80px 100px;
	}
	#contentContainer table tr td iframe{
		width: 500px;
		height: 350px;
	}
}
@media (max-width: 1100px){
	#contentContainer{
		padding: 40px 50px;
	}
	#contentContainer table tr td iframe{
		width: 450px;
		height: 350px;
	}
}
@media (max-width: 950px){
	#contentContainer{
		padding: 20px 30px;
	}
	#contentContainer table tr td iframe{
		width: 350px;
		height: 250px;
	}
}
@media (max-width: 900px){
	section#body section#heading{
		height: 390px;
	}
	#ctaText{
		font-size: 2.8em;
		text-align: center;
		vertical-align: middle;
		line-height: 390px;
	}
	#contentContainer{
		display: none;
	}
	#contentContainer1{
		display: block;
		padding: 80px 30px;
		background-color: white;
	}
	#contentContainer1 div iframe{
		width: 350px;
		height: 250px;	
	}
	#frameContainer{
		width: 350px;
		height: 250px;
		margin: 0px auto;
	}
	#contentContainer1 div table{
		border-spacing: 20px 20px;
		margin: 20px auto 0px auto;
	}
	#contentContainer1 div table tr td{
		line-height: 2em;
	}
}
@media (max-width: 750px){

}
@media (max-width: 600px){
	section#body section#heading{
		height: 250px;
	}
	#ctaText{
		font-size: 1.8em;
		text-align: center;
		vertical-align: middle;
		line-height: 250px;
	}
	#contentContainer1{
		display: block;
		padding: 40px 10px;
		background-color: white;
	}
	#contentContainer1 div iframe{
		width: 300px;
		height: 200px;	
	}
	#frameContainer{
		width: 300px;
		height: 200px;
		margin: 0px auto;
	}
	#contentContainer1 div table{
		border-spacing: 20px 20px;
		margin: 20px auto 0px auto;
	}
	#contentContainer1 div table tr td{
		line-height: 2em;
		font-size: 1em;
	}
	#contentContainer1 div table tr td h2{
		font-size: 1.2em;
	}
}