*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body{
	font-family: Verdana, Geneva, Arial, sans-serif;
	font-size: small;
	background-color: rgb(245, 246, 246);
}
nav{
	position: fixed;
	background: white;
	width: 100%;
	height: 90px;
}
label.logo{
	font-weight: bold;
	font-size: 1.6em;
	line-height: 90px;
	margin-left: 90px;
}
label a img{
	width: 53px;
	height: 53px;
	vertical-align: middle;
	margin-right: 5px;
}
label a:link, label a:visited, label a:hover{
	color: black;
}
nav ul{
	float: right;
	margin-right: 80px;
}
nav ul li{
	display: inline;
	line-height: 90px;
	margin: 0 10px;
}
nav ul li a{
	color: black;
	font-size: 1em;
	border-radius: 5px;
	padding: 7px 13px;
	text-transform: uppercase;
}
nav ul li a.active,nav ul li a:hover{
	color: white;
	background: rgb(255, 201, 14);
	transition: .5s;
}
.checkbtn{
	font-size: 25px;
	color: white;
	float: right;
	margin-right: 20px;
	cursor: pointer;
	display: none;
	padding: 8px;
}
#check{
	display: none;
}
section#body{
	padding-top: 90px;
}
section#body{
	padding-bottom: 20px;
}
footer{
	background-color: rgb(40, 41, 35);
	clear: both;
}
footer section{
	padding: 20px 43px 20px 43px;
}
footer section section:nth-child(1){
	float: left;
	width: 60%;
}
footer section section:nth-child(2){
	float: left;
	width: 40%;
}
footer section section header{
	margin-bottom: 15px;
	font-size: 1.5em;
	color: white;
	letter-spacing: 0.1em;
}
footer section section p{
	line-height: 1.5em;
	margin-bottom: 15px;
	font-size: 1em;
	color: gray;
	width: 80%;
}
footer section section span a{
	margin-right: 20px;
}
footer section section span a img{
	width: 30px;
	height: 30px;
}
footer section section table{
	color: gray;
}
footer section section table tr td{
	vertical-align: top;
}
footer section section table tr td img{
	width: 20px;
	height: 20px;
	margin-right: 16px;
}
footer section section table tr td{
	padding-bottom: 10px;
}
footer#base{
	clear: left;
	background-color: rgb(30, 31, 25);
	color: #a7aca1;
	padding: 23px 85px;
	font-size: 1em;
}
@media (max-width: 1250px){
	label.logo{
		margin-left: 40px;
	}
	nav ul{
		float: right;
		margin-right: 40px;
	}
	nav ul li{
		display: inline;
		line-height: 90px;
		margin: 0 5px;
	}
}
@media (max-width: 1100px){
	nav{
		height: 80px;
	}
	label.logo{
		font-size: 1.6em;
		line-height: 78px;
		margin-left: 20px;
	}
	nav ul{
		margin-right: 10px;
	}
	nav ul li{
		line-height: 74px;
		margin: 0 2px;
	}
	nav ul li a{
		font-size: 1em;
		padding: 4px 10px;
		text-transform: uppercase;
	}
	section#body{
		padding-top: 80px;
	}
	footer section{
		padding: 20px 23px 20px 23px;
	}
	footer#base{
		padding: 23px 43px;
		margin: 0px auto;
	}
}
@media (max-width: 950px){
	label.logo{
		display: none;
	}
	label a img{
		width: 13px;
		height: 13px;
		vertical-align: middle;
		margin-right: 5px;
	}
	#check{
		display: none;
	}
	.checkbtn{
		display: block;
		margin-top: 16px;
	}
	nav ul li{
		display: block;
		margin: 30px 0;
		line-height: 40px;
	}
	nav ul li a{
		font-size: 20px;
		padding: 15px 50px;
		border-radius: 30px;
	}
	nav ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		padding-bottom: 70px; 
		background: #2c3e50;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
		overflow: auto;
	}
	nav ul li a:hover,nav ul li a.active{
		background: none;
		color:#0082e6;
	}
	#check:checked ~ ul{
		left: 0;
	}
}
@media (max-width: 900px){
	footer section{
		padding: 20px 13px 20px 13px;
	}
	footer section section{
		clear: left;
		padding: 20px 13px 20px 13px;
	}
	footer section section:nth-child(1){
		float: left;
		width: 100%;
	}
	footer section section:nth-child(2){
		float: left;
		width: 100%;
	}
	footer#base{
		padding: 23px 30px;
		margin: 0px auto;
	}
}

@media (max-width: 600px){
	
	footer section section header{
		margin-bottom: 15px;
		font-size: 1.5em;
		letter-spacing: 0.05em;
	}
}