section#body section#heading{
	background-image: url("../images/pic_products_DSTV_header.jpg");
	background-color: rgb(112, 112, 112);
	height: 550px;
	background-repeat: no-repeat;
	background-size: cover;
}
#ctaText{
	font-size: 4em;
	color: white;
	text-align: center;
	vertical-align: middle;
	line-height: 550px;
}
#DSTVContainer{
	background-color: white;
	padding: 20px 100px;
}
#DSTVContainer1{
	display: none;
}
#DSTVContainer table{
	width: 100%;
	border-spacing: 40px 100px;
}
#DSTVContainer table tr td{
	
}
#DSTVContainer table tr td:nth-child(1){
	width: 30%;
	text-align: center;
}
#DSTVContainer table tr td:nth-child(2){
	width: 70%;
	vertical-align: top;
}
#DSTVContainer table tr td img{
	vertical-align: middle;
}
#DSTVContainer table tr td h1{
	font-size: 1.6em;
}
#DSTVContainer table tr td div{
	margin-top: 10px;
	font-size: 1.6em;
}
#DSTVContainer table tr td p{
	margin-top: 10px;
	font-size: 1.6em;
	color: rgb(140, 140, 140);
}
@media (max-width: 1250px){
	section#body section#heading{
		height: 500px;
	}
	#ctaText{
		font-size: 3.2em;
		text-align: center;
		vertical-align: middle;
		line-height: 500px;
	}
	#DSTVContainer{
		background-color: white;
		padding: 10px 50px;
	}
}
@media (max-width: 1100px){
	#DSTVContainer{
		padding: 5px 25px;
	}
}
@media (max-width: 950px){
	#DSTVContainer{
		display: none;
	}	
	#DSTVContainer1{
		display: block;
		background-color: white;
		padding: 100px 100px;
		text-align: center;
	}
	#DSTVContainer1 section img{
		margin-top: 100px;
	}
	#DSTVContainer1 section h1{
		margin-top: 20px;
		font-size: 1.6em;
	}
	#DSTVContainer1 section div{
		margin-top: 10px;
		font-size: 1.6em;
	}
	#DSTVContainer1 section p{
		margin-top: 20px;
		font-size: 1.6em;
		color: rgb(140, 140, 140);
	}
}
@media (max-width: 900px){
	section#body section#heading{
		height: 390px;
	}
	#ctaText{
		font-size: 2.8em;
		text-align: center;
		vertical-align: middle;
		line-height: 390px;
	}
}
@media (max-width: 750px){
	#DSTVContainer1{
		padding: 25px 25px;
		text-align: center;
	}
	#DSTVContainer1 section h1{
		margin-top: 10px;
		font-size: 1.4em;
	}
	#DSTVContainer1 section div{
		margin-top: 10px;
		font-size: 1.4em;
	}
	#DSTVContainer1 section p{
		margin-top: 20px;
		font-size: 1.4em;
		color: rgb(140, 140, 140);
	}
}
@media (max-width: 600px){
	section#body section#heading{
		height: 250px;
	}
	#ctaText{
		font-size: 1.8em;
		text-align: center;
		vertical-align: middle;
		line-height: 250px;
	}
}